html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    box-sizing: border-box;
    height: 100%;
}

*,*::after,*::before{
    box-sizing: inherit;
}

body{
    margin: 0;

    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 10px;

    min-height: 50%;
}
